<properties>
    <server-addr>127.0.0.1</server-addr>
    <server-port>8080</server-port>
    <master>true</master>
    <thread-num>8</thread-num>
    <other-servers>
        <server>
            <addr>127.0.0.1</addr>
            <port>8080</port>
        </server>
        <server>
            <addr>localhost</addr>
            <port>8080</port>
        </server>
    </other-servers>
</properties>