<properties>
    <server-addr>10.16.3.199</server-addr>
    <server-port>8080</server-port>
    <master>true</master>
    <thread-num>8</thread-num>
    <other-servers>
        <server>
            <addr>10.16.3.169</addr>
            <port>8080</port>
        </server>
        <server>
            <addr>10.16.3.199</addr>
            <port>8080</port>
        </server>
    </other-servers>
</properties>
